asn1crypto==0.24.0
attrs==18.2.0
autobahn==18.9.2
Automat==0.7.0
buildbot==1.4.0
buildbot-console-view==1.4.0
buildbot-grid-view==1.4.0
buildbot-waterfall-view==1.4.0
buildbot-worker==1.4.0
buildbot-www==1.4.0
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
constantly==15.1.0
cryptography==2.3.1
decorator==4.3.0
future==0.16.0
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
Jinja2==2.10
MarkupSafe==1.0
pbr==4.2.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.18
PyHamcrest==1.9.0
PyJWT==1.6.4
pyOpenSSL==18.0.0
python-dateutil==2.7.3
requests==2.19.1
service-identity==17.0.0
six==1.11.0
SQLAlchemy==1.2.11
sqlalchemy-migrate==0.11.0
sqlparse==0.2.4
Tempita==0.5.2
treq==18.6.0
Twisted==18.7.0
txaio==18.8.1
urllib3==1.23
zope.interface==4.5.0
