buildbot[bundle,tls]
buildbot_wsgi_dashboards
flask
humanize
PyYAML
requests
treq
sentry-sdk
# buildbot depends on SQLAlchemy, but we add the extra here to ensure the
# correct leaf dependencies
SQLAlchemy[postgresql]
