alembic==1.13.3
attrs==24.2.0
autobahn==24.4.2
Automat==24.8.1
blinker==1.8.2
buildbot==4.1.0
buildbot-console-view==4.1.0
buildbot-grid-view==4.1.0
buildbot-waterfall-view==4.1.0
buildbot-worker==4.1.0
buildbot-wsgi-dashboards==4.1.0
buildbot-www==4.1.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
constantly==23.10.4
croniter==3.0.3
cryptography==43.0.1
Flask==3.0.3
greenlet==3.1.1
hyperlink==21.0.0
idna==3.10
importlib_metadata==8.5.0
incremental==24.7.2
itsdangerous==2.2.0
Jinja2==3.1.4
Mako==1.3.5
MarkupSafe==3.0.1
msgpack==1.1.0
packaging==24.1
psycopg2==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
PyJWT==2.9.0
pyOpenSSL==24.2.1
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
sentry-sdk==2.17.0
service-identity==24.1.0
six==1.16.0
SQLAlchemy==2.0.36
tomli==2.0.2
treq==24.9.1
Twisted==24.7.0
txaio==23.1.1
typing_extensions==4.12.2
unidiff==0.7.5
urllib3==2.2.3
Werkzeug==3.0.4
zipp==3.20.2
zope.interface==7.1.0
