<div class="container release_status">
    <div style="text-align: center;">
        <img src="https://www.python.org/static/community_logos/python-logo-master-v3-TM.png" ,
             width="480" height="162">
        <h1>Branch release status dashboard </h1>
    </div>

    <div class="container">
        <div class="col-sm-12">
            <div class="row">
                {% for branch, info in failed_builders %}
                    <div class="col-md-4 ng-scope">
                        {% if not info %}
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <div style="text-align: center;">
                                        <h4 class="panel-title">
                                            Branch {{ branch }} status: Releaseable
                                        </h4>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div style="text-align: center;">
                                        <i class="fa fa-check" style="font-size:48px;color:green;"></i>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <div style="text-align: center;">
                                        <h4 class="panel-title">
                                            Branch {{ branch }} status: Not Releaseable
                                        </h4>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    {% for builder, build in info %}
                                    <div> <buildsummary buildid="{{ build.buildid }}" condensed="1"/> </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
