<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Branch Release Status Dashboard</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='dashboard.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container release_status">
        <div class="header">
            <img src="https://www.python.org/static/community_logos/python-logo-master-v3-TM.png" alt="Python Logo" width="480" height="162">
            <h1>Branch Release Status Dashboard</h1>
        </div>
        <h2>Failing Stable Builders</h2>
        <div class="row">
            {% for branch, info_by_tier in failed_builders %}
                <div class="col-md-4">
                    {% if not info_by_tier %}
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Branch {{ branch }} status: Releasable
                                </h4>
                            </div>
                            <div class="panel-body">
                                <div style="text-align: center;">
                                    <i class="fas fa-check"></i>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Branch {{ branch }} status:
                                </h4>
                            </div>
                            <div class="panel-body">
                                {% for tier, info in info_by_tier %}
                                    <div class="tier-title">{{ tier }}</div>
                                    {% for builder, build in info %}
                                        <div>
                                            <a class="badge badge-status results_{{build.results_text | upper}}"
                                               href="#/builders/{{build.builderid}}/builds/{{build.number}}">
                                                {{ builder.name }}: #{{ build.number }}
                                            </a>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <h2>Disconnected Stable Workers</h2>
        <div class="container">
            {% for name, worker in disconnected_workers %}
                <div class="row">
                    <a href="#/workers/{{ worker.workerid }}">
                        {{ name }}
                    </a>
                </div>
            {% else %}
                None.
            {% endfor %}
        </div>
        <div class="container">
            <small>Generated at <time id="generatedAt" datetime="{{generated_at}}">{{generated_at}}</time></small>
        </div>
    </div>
    <script>
        let elem = document.getElementById("generatedAt");
        let date = new Date(elem.dateTime);
        elem.innerText = date.toLocaleDateString("en-CA") + " " + date.toLocaleTimeString("pl-PL");
    </script>
</body>
</html>
